<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" 
    crossorigin="anonymous">
    <style>
      .body-one{
        background-image: url("C:/Users/dharma/OneDrive/Desktop/newpro/static/img/doctor_bg.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .text-block{
    position: absolute;
  bottom: 150px;
  right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.dharma{
  font-size: 1000px;
}


    </style>
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="body-one">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="https://png.pngtree.com/element_pic/16/11/02/bd886d7ccc6f8dd8db17e841233c9656.jpg"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="signup">Signup</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="booking">Book an Appoinment</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="help">FeedBack</a>
              </li>
              
            </ul>
            <span class="navbar-text">
              <!-- Navbar text with an inline element -->
            </span>
          </div>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
      
        </div>
      </nav>
      
</div>
    {% block index %}{% endblock %}
    {% block home %}{% endblock %}
    {% block form %}{% endblock %}
    {% block home1 %}{% endblock %}
    {% block signup %}{% endblock %}
    {% block login %}{% endblock %}
    {% block help %}{% endblock %}
    {% block doclogin %}{% endblock %}
    {% block admlogin %}{% endblock %}
    {% block booking %}{% endblock %}    
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" 
    crossorigin="anonymous">
    </script>
</body>
</html>